* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
   } 
#premierBloc{
	background-image: url(./img/campagne\ extérieur.jpeg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position-y: center;
	height: 40vw;
	width: 100%;
}
#premierBloc .navigation {

}
#premierBloc .navigation li {
	list-style: none;
}

#premierBloc .navigation ul {
	background-color: white;
	height: 6vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#premierBloc .navigation li a {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	color: black;
}

/*
.floatRight {
	float: right;
}
.floatRight img {
	width: 2em;
}
#premierBloc #aNoBorder {
	border: none;
}
*/

#premierBloc .navigation li a:hover {
	color : white;
}

